#grid_layout_a {
  height: 100vh;



  display: flex;
  align-items: center;
  justify-content: center;

  scroll-snap-align: start;
  position: relative;

  // @todo: remove
  background-color: #5f5f5f;
}

.previewSlide {
  width: 300px;
  height: 200px;

  position: absolute;
  left: 8px;

    // @todo: remove
    background-color: #d6d6d6;
}

.gridContainer {
  display: grid;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  grid-auto-rows: calc((calc(100vh - 6em) / 32) - var(--gap));
  grid-auto-columns: calc((calc(100% - 6em) / 32) - var(--gap));
  justify-content: center;
  align-content: center;
  grid-gap: var(--gap);

  .title {
    grid-area: 9 /26/ 17/28;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 8px;
    span {
      transform-origin: bottom left;
      transform: rotate(-90deg) translateY(100%);
      font-size: 40px;
      font-weight: 600;
      white-space: nowrap;
    }
  }
  .description {
    grid-area: 22 /24/ 24/28;
    font-size: 14px;
  }

  .goBtn {
    background-color: #ff007a;
    padding: 8px;
  }

  & > div {
    background: #1d1f1f;
    position: relative;
  }
  & > :nth-child(1) {
    grid-area: 5 / 12 / 23 / 19;
  }
  & > :nth-child(2) {
    grid-area: 8 / 19 / 17 / 26;
  }
  & > :nth-child(3) {
    grid-area: 17 / 19 / 27 / 24;
  }
  & > :nth-child(4) {
    grid-area: 4/7/16/12;
  }
  & > :nth-child(5) {
    grid-area: 16/5/23/12;
  }
  & > :nth-child(6) {
    grid-area: 7/3/16/7;
  }
  & > :nth-child(7) {
    grid-area: 23 / 10 / 30 / 15;
  }
  & > :nth-child(8) {
    grid-area: 23 / 15 / 27 / 19;
  }
  & > :nth-child(9) {
    grid-area: 2 / 22 / 8 / 26;
  }
  & > :nth-child(10) {
    grid-area: 17 / 24 / 22 / 29;
  }
  & > :nth-child(11) {
    grid-area: 16 /1/ 23/5;
  }
  & > :nth-child(12) {
    grid-area: 5 /19/ 8/22;
  }
  & > :nth-child(13) {
    grid-area: 23/7/26/10;
  }
}
