.gridContainer {
  & > :nth-child(1) {
    grid-area: 5 / 12 / 23 / 19;
  }
  & > :nth-child(2) {
    grid-area: 8 / 19 / 17 / 26;
  }
  & > :nth-child(3) {
    grid-area: 17 / 19 / 27 / 24;
  }
  & > :nth-child(4) {
    grid-area: 4/7/16/12;
  }
  & > :nth-child(5) {
    grid-area: 16/5/23/12;
  }
  & > :nth-child(6) {
    grid-area: 7/3/16/7;
  }
  & > :nth-child(7) {
    grid-area: 23 / 10 / 30 / 15;
  }
  & > :nth-child(8) {
    grid-area: 23 / 15 / 27 / 19;
  }
  & > :nth-child(9) {
    grid-area: 2 / 22 / 8 / 26;
  }
  & > :nth-child(10) {
    grid-area: 17 / 24 / 22 / 29;
  }
  & > :nth-child(11) {
    grid-area: 16 /1/ 23/5;
  }
  // goBtn
  & > :nth-child(12) {
    grid-area: 5 /19/ 8/22;
  }
  & > :nth-child(13) {
    grid-area: 23/7/26/10;
  }

  .title {
    grid-area: 9 /26/ 17/28;
  }
  .description {
    grid-area: 22 /24/ 24/28;
  }
}
